$red: #f02d34;
$bg-ligth: #EDEDED;
$bg-icon-toggle-light: #303030;
$bg-category-light: #fff;
$gray: #a5a5a5;
$text-secondary-light: rgb(92, 92, 92);
$text-color-gray-light: #8f8f8f;
$bg-promo-light: #D9D9D9;
$box-shadow-light: 0px 4px 8px rgba(0, 0, 0, 0.25);