@import './var';

.card-item {
  padding: 20px 30px;
  background-color: $bg-category-light;
  border-radius: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
  img {
    transition: all 0.3s linear;
    width: 100%;
    
  }
  .price {
    transition: all 0.3s linear;
    font-weight: 600;
    font-size: 1.1em;
  }
  .desc {
    transition: all 0.3s linear;
    margin-bottom: auto;
  }
  &:hover {
    box-shadow: $box-shadow-light;
    img, .price, .desc  {
      transform: scale(1.05);
    }
  }
  &.dark {
    background-color: $bg-category-dark;
    .desc {
      color: $text-clr-dark;
    }
    .price {
      color: #fff;
    }
  }
}