@import './var';

.cart {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
  min-height: calc(100vh - 275px);
  h4 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .total {
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    p {
      font-size: 2em;
    }
    span {
      font-size: 2em;
      color: $text-secondary-light;
      font-weight: 500;
    }
  }
  .button {
    display: flex;
    justify-content: flex-end;
  }
  .btn-pay {
    width: 250px;
    font-size: 1.5em;
    background-color: $red;
    color: #fff;  
  }
  &.dark {
    h4 {
      color: $text-clr-dark;
    }
    .total {
      span {
        color: $text-clr-dark;
      }
      p {
        color: $text-secondary-dark;
      }
    }
  }
}

@media (max-width: 576px) {
  .cart {
    margin-bottom: 30px;
    .btn-pay {
      width: 100%;
    }
  }  
}