@import './var';

.footerBanner {
  background-color: #E81010;
  color: #fff;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  .small {
    font-size: 1.5em;
    margin-bottom: 50px;
    max-width: 300px;
  }
  .right {
    .small {
      font-size: 1.3em;
    }
  }
  .medium {
    font-size: 3em;
    font-weight: 900;
    text-transform: capitalize;
  }
  .large {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
  }
  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
  }
  .btn {
    color: red;
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  .footerBanner {
    img {
      width: 250px;
    }
    .medium {
      font-size: 2em;
    }
    .right {
      width: 35%;
    }
    .large {
      font-size: 3.5em;
    }
    .small {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .footerBanner {
    img {
      width: 200px;
    }
    .medium {
      font-size: 1.5em;
    }
    .large {
      font-size: 3em;
    }
    .right {
      .small {
        font-size: 1em;
      }
    }
    .small {
      font-size: 1em;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 576px) {
  .footerBanner {
    .left {
      display: none;
    }
    img {
      position: absolute;
      top: 40px;
      right: 0;
      transform: none;
      width: 200px;
    }
  }
}