@import './var';

.headerBanner_wrapper {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 100%;
}

@keyframes slide {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
}

.headerBanner {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 10px 10px 20px;
  justify-content: space-between;
  animation: slide;
  animation-duration: 10s;
  .right, .left {
    width: 50%;
  }
  p {
    font-size: 2em;
    color: $gray;
    margin-top: 30px;
  }
  h1 {
    font-size: 8em;
    margin-top: 30px;
    font-weight: 900;
    color: red;
    text-transform: uppercase;
  }
  h3 {
    margin-top: 50px;
    font-size: 3em;
  }
  img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .headerBanner {
    h1 {
      font-size: 5em;
    }
    h3 {
      font-size: 2em;
    }
  }
}

@media (max-width: 768px) {
  .headerBanner {
    p {
      font-size: 1em;
    }
    h1 {
      font-size: 4em; 
    }
    h3 {
      margin-top: 20px;
      font-size: 1.5em;
    }
  }
}

@media (max-width: 576px) {
  .headerBanner {
    margin-top: 0px;
    h1 {
      font-size: 3em;
    }
  }
  
}