@import './var';

.headerBanner {
  background-image: url('../img/header_banner_bg.webp');
  text-align: left;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 10px 40px 20px;
  justify-content: space-between;
  animation: slide;
  animation-duration: 10s;
  .right, .left {
    width: 50%;
  }
  p {
    font-size: 2em;
    color: #fff;
    font-weight: 900;
    margin-top: 30px;
    text-shadow: 0px 0px 10px #F02D34, 0px 0px 20px #F02D34, 0px 0px 30px #F02D34, 0px 0px 40px #F02D34;
  }
  h1 {
    font-size: 7em;
    margin-top: 30px;
    font-weight: 900;
    color: red;
    text-transform: uppercase;
  }
  h3 {
    margin-top: 20px;
    font-size: 3em;
  }
  img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
  }
}
@media (max-width: 992px) {
  .headerBanner {
    h1 {
      font-size: 5em;
    }
    h3 {
      font-size: 2em;
    }
  }
}

@media (max-width: 768px) {
  .headerBanner {
    p {
      font-size: 1em;
    }
    h1 {
      font-size: 3em; 
    }
    h3 {
      margin-top: 20px;
      font-size: 1.5em;
    }
  }
}

@media (max-width: 576px) {
  .headerBanner {
    align-items: flex-start;
    margin-top: 0px;
    p {
      font-size: 0.8em;
      margin-top: 5px;
    }
    h1 {
      font-size: 2em;
    }
    h3 {
      margin-top: 20px;
      font-size: 0.9em;
    }
    img {
      max-height: 150px;
    }
    .right {
      width: 40%;
    }
    .left {
      width: 60%;
    }
  }
  
}