@import './var';

.modal {
  position: absolute;
  z-index: 200;
  padding: 5px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 0 0 10px 10px;
  .icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    span {
      padding: 5px;
      cursor: pointer;
      transition: all 0.3s linear;
      &:hover {
        color: #fff;
        transform: scale(1.1);
      }
    }
  }
  .category {
    width: calc(33% - 7px);
    border: 1px solid rgb(129, 129, 129);
    transition: all 0.5s linear;
    border-radius: 10px;
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      cursor: pointer;      
    }
    img {
      transition: all 0.5s linear;
      width: 100%;
    }
    p {
      text-transform: capitalize;
      transition: all 0.5s linear;
    }
    &:hover {
      transform: scale(1.02);
      p {
        color: rgb(231, 231, 231);
      }
      .laptop {
        img {
          filter: drop-shadow(1px 1px 5px #58E600);
        }
      }
      .headphones {
        img {
          filter: drop-shadow(1px 1px 5px #D93C8D);
        }
      }
      .accesories, .smartphones {
        img {
          filter: drop-shadow(1px 1px 5px #36BCBE);
        }
      }
      .smartwatches {
        img {
          filter: drop-shadow(1px 1px 5px #8C57A7);
        }
      }
      .gadgets {
        img {
          filter: drop-shadow(1px 1px 5px #E85B10);
        }
      }

    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    h5 {
      font-size: 1.3em;
      color: #ccc;
      margin-bottom: 10px;
      font-weight: 300;
    }
    p {
      margin-bottom: 9px;
      span {
        color: #fff;
      }
    }
  }
}
@media (max-width: 576px) {
  .modal {
    .category {
      width: calc(50% - 5px);
    }
  }
}