@import './var';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
  background-color: #000;
  color: $gray;
  border-radius: 10px;
  position: relative;
  .logo {
    font-weight: bold;
    font-size: 3em;
    color: $red;
  }
  .nav_categories {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.5em;
    font-weight: 200;
    cursor: pointer;
    margin-right: auto;
  }
  .search {
    flex: 1;
    position: relative;
    input {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(100, 100, 100);
      font-size: 1.4em;
      color: #fff;
      outline: none;
      border: none;
      &::placeholder {
        font-weight: 100;
        color: #b5b5b5;
      }
    }
    &_icon {
      position: absolute;
      z-index: 3;
      cursor: pointer;
      right: 5px;
      top: 3px;
      background: #000;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      border-radius: 5px;
    }
  }
  .cart_icon {
    font-size: 2em;
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      top: -7px;
      right: -10px;
      background-color: $red;
      color: #fff;
      font-size: 13px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    &:hover {
      color: #fff;
    }
  }
  button {
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.3em;
    background-color: #7e7e7e;
    color: #ccc;
    border-radius: 10px;
    transition: all 0.5s linear;
    svg {
      font-size: 1.5em;
    }
    &:hover {
      color: #fff;
    }
  }
  .xs {
    display: none;
  }
  .modal {
    left: 17%;
    top: 78px;
    width: 500px;
  }
}
@media (max-width: 992px) {
  nav {
    .search {
      display: none;
    }
  }
  .nav_categories {
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  nav {
    gap: 10px;
    .logo {
      font-size: 2em;
    }
    .nav_categories {
      font-size: 1.3em;
    }
    .xs {
      display: block;
    }
    .lg {
      display: none;
    }
    .modal {
      width: 450px;
      top: 105px
    }
  }
}
@media (max-width: 576px) {
  nav {
    .logo {
      font-size: 1.5em;
    }
    .nav_categories {
      font-size: 1em;
    }
    .cart_icon {
      font-size: 1.5em;
      margin-right: 15px;
    }
    button {
      svg {
        font-size: 1.1em;
      }
    }
    .xs {
      display: block;
    }
    .lg {
      display: none;
    }
    .modal {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
    }
  }
}