@import './var';

.promo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 40px;
  &_card {
    width: calc(50% - 5px);
    display: flex;
    justify-content: space-between;
    background-color: $bg-promo-light;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s linear;
    .text {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 40px;
    }
    h3 {
      font-weight: 400;
      font-size: 1.5em;
      line-height: 1.5em;
    }
    .img {
      width: 40%;
    }
    img {
      width: 100%;
      transition: all 0.3s linear;
    }
    &:hover {
      box-shadow: $box-shadow-light;
      img {
        transform: scale(1.05);
      }
    }
  }
}